.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body{
  height: auto !important;
}
#row1{
  margin-top: 100px;
}
#outer-container{
  width: 100%;
  overflow:hidden
}
.lan{
  color:white;
  display: block;
  margin-bottom:30px;
  margin-top:100px;
}
.lan span{
  cursor: pointer;
}
.menu{
  margin-bottom: 150px;
  right:10px;
  background-color:rgb(61, 56, 56) ;
  display:block;
}
.ui.secondary.menu{
  background-color:rgb(61, 56, 56) ;
}
.ui.secondary.menu{
  background-color:rgb(61, 56, 56) !important;
}
.image-gallery-left-nav .image-gallery-svg, .image-gallery-right-nav .image-gallery-svg{
  width:20px;
}
.menu a span{
  color:white;
  transform: translate(1px, -15px);
  display:inline-block;
  /* font-family: 'Balsamiq Sans', cursive; */
  font-size: 1.0em;

}
input,textarea{
  border-radius: 20px !important;
}
#form-textarea-control-opinion{
  height: 200px !important;
}
.contact_form_icon{
  margin-top:50px;
}
.intro {
  color:white;
  top:100px;
  font-family: 'Balsamiq Sans', cursive;
  font-size: 3rem;
  line-height: 45px;
  text-align: center;
}
.intro_detail{
  margin: 50px 20px 50px 20px;
  font-size: 20px;
  line-height: 25px;
  font-family: 'Roboto', sans-serif;
}
.parent1{
  background-image: url('/border.png');
  width:600px;
  height:700px;
  background-size: cover;
  margin: auto auto;
}
.parent2{
  margin: 30px auto;
}
.image-gallery-slide img {
  height: 500px;
}
.image-gallery {
  width: 305px;
  top:100px;
  left:146px;

}
.download_bnts{
  vertical-align:middle; 
  text-align:center
}
.ios_btn,.and_btn{
  margin:0 20px 0 0;
}
.ui.image img{
  border-radius: 9px;
  opacity: 0.7;
}
.menu_btn{
  display: inline;
  margin-right: 1.5em;
}

@media (max-width: 500px) {
  .parent1{
      margin-left: 0 !important;
  }
  .download_bnts img{
    width:130px !important;
    height:40px !important;
  }
  .image-gallery{
    width: 200px;
    left:114px;
    top:0px;
  }
  .parent1{
    width:100%;
    height:100%;
  }
  .contact_title{
    font-size: 2em !important; 
  }
  .contact_subtitle{
    margin:20px 30px;
  }
  #row1{
    margin-top: 100px;
  }
  .contact_form{
    padding: 20px 50px 20px 50px !important;
  }
}

/* contact page */
.contact_form{
  /* background-color: rgba(255, 255, 255, 0.5); */
  padding: 20px 20px 20px 50px;
}
.contact_title{
  text-align: center;
  font-size: 3em;
  margin-top: 120px;
  color:white;
}

.contact_subtitle{
  text-align: center;
  margin-top:30px;
  color:white;
}
.ui.form .field>label{
  color:white !important;
}
.contact_form_icon{
  text-align: center !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
