#page-wrap2{
    margin:74px auto 60px auto;
}
.parent3{
    position: relative;
    /* width:400px !important; */
    /* height:550px; */
    margin:50px 0px 20px 0px;
    background-color:white;
}


.carousel .slide{
    background: none !important; 
}
.image-slider{
    margin-top:150px !important;
}
#content{
    margin:30px 10px 0px 10px;
    padding:20px 0px;
    background-color:white;
    border-radius: 15px;
}
#otherinfo{
    margin:10px 10px;
    padding:8px;
    background-color:white;
    border-radius: 15px;
    border: 1px solid rgb(177, 175, 175);
}
.imgcontainer{
    /*height: 380px;*/
    width:100%;
    /*max-width: 400px;*/
    overflow: hidden;
    margin: auto auto;
    position: relative;
    display: block;
    text-align: center;
}

@media (max-width: 765px) {

    .carousel .slide img {
        margin:auto auto;
        position: relative;
        width:100%;
        height:400px;
        display: block;
        object-fit: cover;
    }

    .author,.pin_intro{
        margin:10px 5px !important;
    }
    #content{
        margin:0px 5px;
        padding:0px 5px;
        background-color:white;
        border-radius: 15px;
    }
    #otherinfo{
        margin:10px 10px;
    }
    .parent3{
        position: relative;
        /* width:400px !important; */
        /* height:550px; */
        margin:0px 0px 20px 0px;
        background-color:white;
      }
}



div{
    background-position: center;
}



#topbanner{
    position:fixed;background:white;width:100%;
}
.Header_root{
    background-color:rgb(255, 210, 0);
    height: 60px;
}
.author_icon{
    display: inline-block !important;
    width:40px !important;
    height: 40px !important;
}
.author_intro{
    float: right;
}
.author_name{
    margin-left: 5px;
    font-size: 1.3em;
}


.Header_title{
    color:white;
}
#openappbtn{
    height:35px;
    width:80px;
    font-size:15px;
    border: 2px solid white;
    border-radius: 19px;
    position: absolute;
    right:10px;
    top:12px;
    text-align: center;
}
#openapp{
    width:80px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}

#funpinsheader{
    width:200px;
    height: 60px;
    
}
#dqlogo{
    width:52px;
    height:52px;
}
.pin_intro{
    white-space: pre-line;
}
#outer-container2{
    background-color:white;
    width: 100%;
    overflow:hidden
}

.otherintro_icon{
    width:20px;
    height:20px;
}
#otherinfo_table{
    table-layout: fixed;
     width: 100%;
}
.info_td{
    word-wrap: break-word;
    text-align: center;
    font-size: 0.9em;
}
.info_name{
    width:15%;
}
.control-dots{
    padding: 0px !important;
}
#badge{
    transform: translate(0px,-15px);
    display: inline-block;
}
.pintitle{
    font-family:Pudding;
    font-size: 1.4em !important;
    position: absolute;
    left:50px;
    top:35%;

}
.pinsubtitle{
    position: absolute;
    font-size: 1.2em !important;
    left:100px;
    font-family: Pudding;
    top:36%;
}
.blurmap{
    background-image: url("/blurmap.png");
    background-size:100% auto; 
    /* Full height */
    height: 300px;
    width:100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
}
.blurmap-text{
    color: black;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    padding: 20px;
    bottom:-60px;
    text-align: center;
    font-size: 1.2em !important;
    font-family: Pudding
    
}
.blurmap-container{
    width:100%;
    position: relative;
    height:250px;
    padding: 0px 10px;
    border-radius:15px;
}
.author_name{
    font-family: Pudding
}
.pin_title{
    font-size: 1.4em !important;
    margin-top:20px !important;
    margin-bottom:20px !important;
    font-family: 'ZCOOL KuaiLe', cursive;
}
.dateBefore{
    color:grey;
    font-size: 0.8em;
}
.comments{
    margin:10px;
}
.comment_user_icon{
    height: 40px;
    width:40px;
}

#comment{
    text-align: center;
    background-color: rgb(233, 227, 227);
    border: 0px;
    width:100px;
    height: 30px;
    margin:15px 15px;
    display: inline-block;
}
#likeSpan{
    display: inline-block;
    margin:15px 0;
    font-family: Pudding;
    position: absolute;
    right:5px;

}
#footerBtn{
    height: 20px;
    width:20px;
    margin-right: 5px;
    transform: translate(0px, 3px);
}
.placeName{
    margin:5px;
    font-size: 0.9em;
}
#mapIcon{
    height:25px;
    width: 25px;
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    transform: translate(0px, 5px);
}
.placeStr{
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    height:25px;
    margin-left: 5px;

}